{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Myp_Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.8.1
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Myp_Website</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>Myp_Website tells about studio ghibli</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">History</a></li>
          <li><a class="nav-link" href="#resume">Film</a></li>
          <li><a class="nav-link" href="#portfolio">Gallery</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>History</h2>
        <p>History of Studio Ghibli</p>
      </div>

      <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            <a href="https://youtu.be/1zi7jIZkS68" class="glightbox play-btn mb-4"></a></div>
          </div>
          <div class="col-lg-20 pt-16 pt-lg-0 content" data-aos="fade-justify">
          <p><em>
            Studio Ghibli, Inc. (株式会社スタジオジブリ Kabushiki-gaisha Sutajio Jiburi) adalah sebuah studio film animasi 
            yang berbasis di Koganei, Tokyo, Jepang. Film-film animenya mengandung unsur-unsur provokatif, imajinatif, 
            emosional, dan telah mendapatkan pujian yang luas dari seluruh dunia. Namanya berasal dari nama panggilan yang 
            digunakan orang-orang Italia untuk menyebut pesawat-pesawat pengincar Sahara mereka pada masa Perang Dunia II; 
            nama yang mengandung arti angin panas yang bertiup menyusuri Gurun Sahara (sirocco). Meskipun istilah tersebut 
            berasal dari bahasa Italia namun kata ini diserap dari kata qibli (قبلي) dan etimologis berasal dari kata "qibla" 
            atau kiblat, dalam bahasa Jepang nama studio itu dilafalkan 'ji-bri' atau 'ji-bu-ri'. Teori di balik nama tersebut 
            adalah bahwa studio tersebut sedang meniupkan angin yang baru terhadap industri anime.
            Didirikan pada tahun 1985, Studio Ghibli dipimpin sutradara ternama Hayao Miyazaki (宮崎 駿 Miyazaki Hayao) 
            bersama dengan rekannya yang juga pembimbingnya, Isao Takahata (高畑 勲 Takahata Isao). Asal mula Studio Ghibli 
            dapat dibilang berawal pada tahun 1983, dengan film Nausicaä of the Valley of the Wind (風の谷のナウシカ Kaze no tani 
            no Naushika, 1984), yang mulanya merupakan manga bersambung yang diterbitkan majalah manga terbitan Tokuma Shoten 
            (徳間書店). Tokuma adalah perusahaan induk Studio Ghibli, dan telah memberikan pada Disney hak-hak video untuk delapan 
            filmnya serta hak distribusi dunia untuk Princess Mononoke (もののけ姫 Mononoke Hime, 1997) dan Spirited Away (千と千尋の神隠し 
            Sen to Chihiro no Kamikakushi, 2001). Film terbaru Miyazaki, Howl's Moving Castle, (ハウルの動く城 Hauru no Ugoku Shiro, 2004) 
            sebenarnya merupakan adaptasi sebuah buku karya penulis Britania, Diana Wynne Jones, yang diterbitkan di beberapa negara
             termasuk Amerika Serikat dan Kanada. Komponis Joe Hisaishi telah menyediakan soundtrack bagi beberapa film Ghibli.
          </p></em>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>comment</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Emang film film dari ghibli itu membawa kita berimajinasi,film nya keren membawa perasaan kita 
                seakan akan merasakan hal dan bermimpi di dalam posisi itu,apalagi musik musiknya juga bikin tenang,
                terharu buat kita semakin berimajinasi dengan luas,COCOK BUAT PARA INTROVERT sih
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials1.jpg' %}" class="testimonial-img" alt="">
              <h3>Hana Agatha</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Film Ghibli pertama yg aku tonton Grave of the fireflies. Nangis parah, kebayang terus, 
                dan sedih sampe 2 hari 🤣  Setelah itu sampe sekarang cinta banget sama film2 Ghibli 🥰
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials2.jpeg' %}" class="testimonial-img" alt="">
              <h3>Devi Tamara</h3>
              <h4>Mahasiswa</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Grave of the fireflies waktu itu gw liat di FB ada gambar bocah kecil sekarat di goa 
                lagi pegang batu kecil ,gw penasaran gw cari info tuh film akhirnya ktmu ,gw tonton pass di 
                pertengahan gw langsung serius ,pas ending gw nangis pdahal gw laki brewok , gua gak ada niat 
                buat nangis 😂tpi asli gw nangis,gw berasa ada di posisi mreka jadi kebawa suasana,film nya gw 
                sebar di group film eh pada nonton jdi anime paling sedih sepanjang sejarah 👍👍👍
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials3.jpg' %}" class="testimonial-img" alt="">
              <h3>Karina Amalia</h3>
              <h4>Store Owner</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Semua film animasi buatan studio ghibli sudah saya nonton, dari yang paling baru sampai paling lama.
                Keren2 memang, alur ceritanya sampai colornya membuat saya kagum dengan studio ghibli 😍😍💗💗
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials4.jpg' %}" class="testimonial-img" alt="">
              <h3>Brandon Mark</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Kalau menurut gua film" hayao miyazaki serasa gua didongengin sama dia pas gua 
                pertama kali nonton itu film laputa castle in the sky gila ceritanya mateb banget
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials5.jpg' %}" class="testimonial-img" alt="">
              <h3>alexsander</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Film</h2>
        <p>Check My Film</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Earwig and the Witch ( 2020 )</h3>
          <img src="{% static 'assets/img/film/Earwig and the Witch.jpg' %}" class="img-fluid" alt="">
          <div class="resume-item pb-0">
            <h4></h4>
            <p><em>Tumbuh di panti asuhan di pedesaan Inggris, Earwig tidak tahu bahwa ibunya memiliki 
              kekuatan magis. Hidupnya berubah secara dramatis ketika pasangan aneh membawanya masuk, dan 
              dia dipaksa untuk hidup dengan penyihir yang egois. Saat gadis muda yang keras kepala mulai
               mengungkap rahasia wali barunya, dia menemukan dunia mantra dan ramuan, dan lagu misterius 
               yang mungkin menjadi kunci untuk menemukan keluarga yang selalu dia inginkan.</em></p>
            <p></p>
          </div>
          </div>

          <div class="col-lg-6">
          <h3 class="resume-title">Howl's Moving Castle ( 2001 )</h3>
          <img src="{% static 'assets/img/film/Castle.jpg' %}" class="img-fluid" alt="">
          <div class="resume-item">
            <h4></h4>
            <p><em>Sophie, seorang gadis remaja rata-rata yang bekerja di toko topi, menemukan hidupnya dilemparkan ke dalam 
              kekacauan ketika dia benar-benar tersapu oleh seorang penyihir tampan namun misterius bernama Howl. Setelah pertemuan 
              kebetulan ini, dia berubah menjadi wanita berusia 90 tahun oleh Penyihir Sampah yang sia-sia dan licik. Memulai petualangan 
              luar biasa untuk mengangkat kutukan, dia menemukan perlindungan di kastil ajaib Howl yang bergerak di mana dia berkenalan 
              dengan Markl, murid Howl, dan iblis api berkepala panas bernama Calcifer.</em></p>
              <p></p>
            </div>
          </div>

          <div class="col-lg-6">
          <h3 class="resume-title">My Neighbor Totoro ( 1988 )</h3>
          <img src="{% static 'assets/img/film/My Neighbor Totoro.jpg' %}" class="img-fluid" alt="">
          <div class="resume-item">
            <h4></h4>
            <p><em>Dua gadis muda, Satsuki dan Mei, telah pindah bersama ayah mereka ke rumah baru di negara itu, sementara 
              ibu mereka pulih dari sakit di rumah sakit terdekat. Yang mengejutkan mereka, mereka segera menemukan bahwa mereka 
              berbagi rumah ini dengan beberapa makhluk yang agak tidak biasa dan bahkan tetangga yang lebih asing - penjaga hutan
               yang dijuluki gadis-gadis Totoro. Ketika masalah terjadi, teman baru mereka akan membantu mereka menemukan kembali harapan.</em></p>
            <p></p>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Princess Mononoke ( 1997 )</h3>
          <img src="{% static 'assets/img/film/Princess Mononoke.jpg' %}" class="img-fluid" alt="">
          <div class="resume-item">
            <h4></h4>
            <p><em>Saat melindungi desanya dari dewa babi hutan yang mengamuk, prajurit muda Ashitaka terkena kutukan mematikan.
              Untuk menemukan obat yang akan menyelamatkan hidupnya, dia melakukan perjalanan jauh ke kedalaman suci alam Roh
               Hutan Besar di mana dia bertemu San (Putri Mononoke), seorang gadis yang dibesarkan oleh serigala. Tidak lama 
               kemudian Ashitaka terjebak di tengah pertempuran antara manusia pencari bijih besi dan penghuni hutan. Dia harus 
               memanggil kekuatan roh dan semua keberaniannya untuk menghentikan manusia dan alam dari saling menghancurkan.</em></p>
          </div>
          </div>

          <div class="col-lg-6">
          <h3 class="resume-title">Ponyo ( 2008 )</h3>
          <img src="{% static 'assets/img/film/Ponyo on the Cliff by the Sea.jpg' %}" class="img-fluid" alt="">
          <div class="resume-item">
            <h4></h4>
            <p><em>Suatu pagi di dekat rumahnya di tepi pantai, Sosuke yang berusia lima tahun menemukan seekor ikan mas yang dia
               beri nama Ponyo, kepalanya tersangkut di stoples selai. Dia menyelamatkannya, dan terpesona satu sama lain, mereka 
               berjanji untuk tetap berteman. Ketika ayah Ponyo, seorang penyihir bawah air yang kuat, memaksanya untuk kembali ke
                kedalaman laut, Ponyo bertekad untuk bergabung dengan Sosuke di permukaan dan menjadi manusia. Berikut ini adalah 
                petualangan bawah laut yang menakjubkan untuk segala usia.</em></p>
            <p></p>
          </div>
        </div>

        <div class="col-lg-6">
        <h3 class="resume-title">Spirited Away ( 2001 )</h3>
        <img src="{% static 'assets/img/film/Spirited Away.jpg' %}" class="img-fluid" alt="">
         <div class="resume-item">
           <h4></h4>
           <p><em>Chihiro mengira dia sedang dalam perjalanan membosankan lainnya dengan 
            orang tuanya. Tetapi ketika mereka berhenti di sebuah desa yang tidak seperti 
             yang terlihat, orang tuanya mengalami transformasi misterius, dan Chihiro dibawa
              ke dunia roh yang fantastis, naga yang berubah bentuk, dan penyihir yang tidak 
             pernah ingin melihatnya pergi. Dia harus mengerahkan keberanian yang tidak pernah
               dia tahu harus membebaskan dirinya dan mengembalikan keluarganya ke dunia luar.</em></p>
           <p></p>
         </div>
      </div>

      <div class="col-lg-6">
      <h3 class="resume-title">Castle in the sky ( 1986 )</h3>
      <img src="{% static 'assets/img/film/Castle in the Sky.jpg' %}" class="img-fluid" alt="">
      <div class="resume-item">
        <h4></h4>
        <p><em>Pazu, seorang insinyur magang menemukan seorang gadis muda, Sheeta melayang turun dari langit 
          mengenakan liontin bercahaya. Bersama-sama mereka menemukan keduanya sedang mencari kastil terapung 
          legendaris Laputa dan bersumpah untuk mengungkap misteri kristal bercahaya di lehernya. Namun pencarian 
          mereka tidak akan mudah. Ada perompak udara, agen rahasia, dan rintangan luar biasa untuk menjauhkan mereka 
          dari kebenaran - dan dari satu sama lain.</em></p>
        <p></p>
      </div>
   </div>

   <div class="col-lg-6">
    <h3 class="resume-title">The Princess Kaguya ( 2013 )</h3>
    <img src="{% static 'assets/img/film/The Tale of the Princess Kaguya.jpg' %}" class="img-fluid" alt="">
     <div class="resume-item">
       <h4></h4>
       <p><em>Ditemukan di dalam batang bambu yang bersinar, seorang gadis kecil tumbuh menjadi 
        seorang wanita muda yang cantik, dibesarkan oleh seorang pemotong bambu tua dan istrinya. 
        Dari pedesaan ke ibu kota besar, bahkan tak terlihat dia memikat semua orang yang bertemu 
        dengannya, termasuk lima pelamar bangsawan. Pada akhirnya dia harus menghadapi nasibnya, 
        hukuman atas kejahatannya.</em></p>
       <p></p>
     </div>
  </div>

  <div class="col-lg-6">
  <h3 class="resume-title"> Nausicaä of the Valley of the Wind ( 1984 )</h3>
  <img src="{% static 'assets/img/film/Nausicaä of the Valley of the Wind.jpg' %}" class="img-fluid" alt="">
  <div class="resume-item">
    <h4></h4>
    <p><em>Seribu tahun setelah perang besar, kerajaan tepi laut yang dikenal sebagai Lembah Angin adalah 
      satu-satunya daerah yang tetap berpenduduk. Dipimpin oleh Putri Nausicaä yang pemberani, orang-orang Lembah 
      terlibat dalam perjuangan terus-menerus dengan serangga kuat yang disebut ohmu, yang menjaga hutan beracun yang 
      menyebar di seluruh Bumi. Nausicaä dan teman-temannya yang pemberani, bersama dengan orang-orang Lembah, berusaha 
      untuk memulihkan ikatan antara manusia dan bumi.</em></p>
    <p></p>
  </div>
</div>

   <div class="col-lg-6">
    <h3 class="resume-title">Porco Rosso ( 1992 )</h3>
    <img src="{% static 'assets/img/film/Porco Rosso.jpg' %}" class="img-fluid" alt="">
    <div class="resume-item">
      <h4></h4>
      <p><em>Perang Dunia I telah berakhir, dan perdamaian kembali berkuasa. Penerbang dari seluruh dunia 
        mengelilingi Laut Adriatik, tertarik untuk menangkap kembali romantisme penerbangan yang hilang selama perang. 
        Banyak yang beralih ke pembajakan udara, di antaranya muncul seorang pahlawan: seorang pria berkepala babi, yang 
        dikenal sebagai Porco Rosso (pernah menjadi pilot angkatan udara Italia bernama Marco Paggot).</em></p>
      <p><em>Sebagai tentara bayaran penegak hukum langit dan lautan, Porco Rosso melindungi kapal pesiar dari bajak laut 
        udara di atasnya. Ketika tindakannya ditantang oleh Curtis, seorang Amerika yang terbang dengan bajak laut, Porco 
        Rosso dipaksa untuk membela kehormatannya melawan pendatang baru ini, yang membawanya ke Fio, seorang insinyur muda
         penuh semangat yang membangun kembali pesawat Porco untuk pertempuran udara besar.</p></em>
    </div>
 </div>

 <div class="col-lg-6">
  <h3 class="resume-title">My Neighbors the Yamadas ( 1999 )</h3>
  <img src="{% static 'assets/img/film/My Neighbors the Yamadas.jpg' %}" class="img-fluid" alt="">
  <div class="resume-item">
    <h4></h4>
    <p><em>Bergabunglah dalam petualangan keluarga Yamada yang unik mulai dari yang lucu hingga menyentuh disajikan 
      dengan brilian dalam gaya komik strip yang unik dan mencolok secara visual. Takashi Yamada dan istrinya yang aneh
       Matsuko, yang tidak memiliki bakat untuk pekerjaan rumah tangga, menavigasi jalan mereka melalui pasang surut pekerjaan,
        pernikahan, dan kehidupan keluarga dengan seorang nenek berlidah tajam yang tinggal bersama mereka, seorang putra remaja 
        yang berharap dia lebih keren orang tua, dan seorang putri yang menyebalkan yang suaranya nyaring tidak biasa untuk seseorang
         yang begitu kecil. Bahkan anjing keluarga memiliki masalah! Rasakan kemenangan kecil dalam hidup dengan my neighbors the
         yamadas menampilkan bakat pengisi suara dari bintang komedi jim belushi dan molly shannon.</em></p>
    <p></p>
  </div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">Whisper of the Heart ( 1995 )</h3>
<img src="{% static 'assets/img/film/Whisper of the Heart.jpg' %}" class="img-fluid" alt="">
 <div class="resume-item">
   <h4></h4>
   <p><em>Shizuku Tsukishima sedikit kutu buku, menghabiskan liburan musim panas 
    terakhirnya di sekolah menengah pertama dengan membaca dan menerjemahkan musik
     asing populer ke dalam bahasa Jepang. Dengan cita-cita untuk suatu hari menjadi
      seorang penulis, Shizuku tidak bisa tidak memperhatikan bahwa nama Seiji Amasawa
       muncul di setiap buku yang dia pinjam dari perpustakaan.</em></p>
    <p><em>Melalui serangkaian insiden aneh dan ajaib, dia datang untuk bertemu Seiji dan menemukan 
      bahwa dia memiliki mimpi menjadi pembuat biola terkenal di Italia. Sementara tujuan seumur hidup mereka 
      menarik mereka ke dua arah yang berbeda, Shizuku dan Seiji bertekad untuk tetap setia pada perasaan kuat 
      mereka satu sama lain.</em></p>
   <p></p>
 </div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">	Kiki's Delivery Service ( 1989 )</h3>
<img src="{% static 'assets/img/film/kiki.jpg' %}" class="img-fluid" alt="">
<div class="resume-item">
<h4></h4>
<p><em>Sudah menjadi tradisi bagi semua penyihir muda untuk meninggalkan keluarga mereka pada malam bulan purnama
   untuk mempelajari keahlian mereka. Malam itu datang untuk Kiki, yang mengikuti mimpinya dan memulai pengalaman 
   seumur hidup. Dengan kucing hitamnya yang cerewet, Jiji, dia terbang untuk menemukan tempat yang sempurna di kota 
   yang jauh. Di sana, seorang pemilik toko roti berteman dengan Kiki dan membantunya memulai bisnisnya sendiri: Sebuah 
   layanan pengiriman yang terbang tinggi.</em></p>
<p></p>
</div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">When Marnie Was There ( 2014 )</h3>
<img src="{% static 'assets/img/film/When Marnie Was There.jpg' %}" class="img-fluid" alt="">
<div class="resume-item">
  <h4></h4>
  <p><em>Anna yang berusia dua belas tahun percaya bahwa dia duduk di luar lingkaran sihir tak terlihat yang dimiliki 
    kebanyakan orang, dan menutup diri dari semua orang di sekitarnya. Prihatin dengan kesehatannya, ibu angkat Anna 
    memutuskan untuk mengirimnya ke pedesaan Hokkaido untuk tinggal di kota yang sepi di tepi laut. Saat dia memimpikan 
    hari-harinya di antara rawa-rawa, Anna mendapati dirinya secara aneh tertarik pada rumah penuh teka-teki yang terletak 
    di tepi sana. Di sinilah dia bertemu Marnie, seorang gadis muda energik yang tampaknya muncul entah dari mana. Pasangan 
    itu dengan cepat menjadi tak terpisahkan.</em></p>
</div>
</div>

<div class="col-lg-6">
  <h3 class="resume-title">The Wind Rises ( 2013 )</h3>
  <img src="{% static 'assets/img/film/The Wind Rises.jpg' %}" class="img-fluid" alt="">
  <div class="resume-item">
    <h4></h4>
    <p><em>Jiro bermimpi menerbangkan dan merancang pesawat terbang yang indah, terinspirasi oleh 
      desainer aeronautika Italia terkenal Caproni. Rabun jauh dan tidak mampu menjadi pilot, 
      ia menjadi salah satu perancang pesawat paling berprestasi di dunia, mengalami peristiwa 
      sejarah penting dalam kisah epik cinta, ketekunan dan tantangan hidup dan membuat pilihan di 
      dunia yang bergejolak.</em></p>
    <p></p>
  </div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">The Cat Returns ( 2002 )</h3>
<img src="{% static 'assets/img/film/The Cat Returns.jpg' %}" class="img-fluid" alt="">
 <div class="resume-item">
   <h4></h4>
   <p><em>Haru, seorang siswi yang bosan dengan rutinitasnya yang biasa, menyelamatkan nyawa seekor kucing yang tidak biasa, 
    dan tiba-tiba dunianya berubah melampaui apa pun yang pernah dia bayangkan. Perbuatan baiknya dihadiahi dengan banyak 
    hadiah, termasuk tikus yang dibungkus hadiah, dan satu lamaran pernikahan yang sangat mengejutkan - untuk putra Raja 
    Kucing Haru memulai perjalanan tak terduga ke Kerajaan Kucing di mana matanya terbuka ke seluruh dunia lain dan takdirnya 
    tidak pasti. Untuk mengubah nasibnya, dia harus belajar percaya pada dirinya sendiri, dan dalam prosesnya dia akan belajar
     menghargai kehidupan sehari-harinya</em></p>
   <p></p>
 </div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">Ocean Waves ( 1993 )</h3>
<img src="{% static 'assets/img/film/Ocean Waves.jpg' %}" class="img-fluid" alt="">
<div class="resume-item">
<h4></h4>
<p><em>Kochi adalah kota pesisir rata-rata Anda di pulau Shikoku yang sepi dan indah dan 
  Taku muda jelas merupakan siswa sekolah menengah rata-rata Anda. Tapi segera kehidupannya yang 
  tenang akan berubah dengan kedatangan Rikako: seorang siswa cantik yang baru saja dipindahkan dari 
  Tokyo. Pada akhir semester Taku akan belajar pelajaran berharga dalam cinta dan persahabatan.</em></p>
<p></p>
</div>
</div>

<div class="col-lg-6">
<h3 class="resume-title">Tales from Earthsea ( 2006 )</h3>
<img src="{% static 'assets/img/film/Tales from Earthsea.jpg' %}" class="img-fluid" alt="">
<div class="resume-item">
  <h4></h4>
  <p><em>Di tanah Earthsea, panen gagal dan ternak mati. Dua naga muncul dari awan badai dan saling melahap - 
    pertanda bencana yang akan datang. Keseimbangan dunia terancam hancur. Dalam pencariannya untuk penyebab 
    malapetaka yang melanggar batas ini, Archmage Ged, penyihir terhebat, bertemu Arren, Pangeran Enlad yang 
    diasingkan, dalam pelarian dari Shadow tanpa nama. Mereka melakukan perjalanan melalui lanskap yang hancur 
    ke Hort Town - sebuah kota di mana warga kosong hanya berurusan dengan barang palsu, budak diperdagangkan 
    dan pecandu berkeliaran di jalan-jalan berbahaya - dan berpapasan dengan Therru, seorang gadis yatim piatu 
    dengan wajah bekas luka api. Ged mengetahui bahwa penyihir Cob, dalam pencariannya untuk kehidupan abadi, 
    sedang bersiap untuk membuka pintu antara alam yang hidup dan yang mati. Musuh lama dan kalah, Cob telah 
    bersumpah untuk membalas dendam yang mengerikan pada Ged.</em></p>
</div>
</div>

<div class="col-lg-6">
  <h3 class="resume-title">	Pom Poko ( 1994 )</h3>
  <img src="{% static 'assets/img/film/Pom Poko.jpg' %}" class="img-fluid" alt="">
  <div class="resume-item">
  <h4></h4>
  <p><em>Raccoon of the Tama Hills diusir dari rumah mereka oleh pesatnya pembangunan rumah dan pusat perbelanjaan. 
    Karena semakin sulit untuk menemukan makanan dan tempat tinggal, mereka memutuskan untuk bersatu dan melawan. 
    Raccoon berlatih dan menyempurnakan seni transformasi kuno sampai mereka bahkan mampu tampil sebagai manusia. 
    Dalam cara yang sering lucu, Raccoon menggunakan kekuatan mereka untuk mencoba menakut-nakuti kemajuan peradaban. 
    Tapi apakah itu akan cukup? Atau akankah Raccoon belajar bagaimana hidup seimbang dengan dunia modern?</em></p>
  <p></p>
  </div>
  </div>
  
  <div class="col-lg-6">
  <h3 class="resume-title">	Only Yesterday ( 1991 )</h3>
  <img src="{% static 'assets/img/film/Only Yesterday.jpg' %}" class="img-fluid" alt="">
  <div class="resume-item">
    <h4></h4>
    <p><em>Taeko, seorang wanita lajang yang bekerja di meja kerja di Tokyo, telah mencapai titik dalam hidupnya 
      di mana dia harus melepaskan diri dari pekerjaannya, keluarganya dan yang terpenting, kehidupan kota besar. 
      Liburan yang sangat dibutuhkan ke pedesaan membangkitkan kenangan masa kecil, mengingat waktunya sebagai siswi 
      pada tahun 1966. Di tengah pemandangan pedesaan yang indah, Taeko merenungkan hidupnya dan membentuk persahabatan 
      baru, mulai membuat beberapa keputusan sulit tentang masa depannya.</em></p>
  </div>
  </div>
  
  <div class="col-lg-6">
    <h3 class="resume-title">	From Up on Poppy Hill ( 2011 )</h3>
    <img src="{% static 'assets/img/film/From Up on Poppy Hill.jpg' %}" class="img-fluid" alt="">
    <div class="resume-item">
      <h4></h4>
      <p><em>Terletak di Yokohama, From Up On Poppy Hill adalah kisah cinta sekolah menengah yang terjadi pada tahun 
        sebelum Olimpiade Musim Panas Tokyo 1964. Ketika negara mulai bangkit dari kehancuran Perang Dunia Kedua, generasi 
        baru berjuang untuk bergerak menuju masa depan yang makmur sambil berusaha untuk tidak kehilangan esensi masa lalu
         mereka. Animasi film yang kaya dan bersemangat menangkap keindahan memikat pelabuhan Yokohama dan lereng bukit yang 
         subur di sekitarnya dan, dengan soundtrack yang mengambil inspirasi dari musik terbaik saat itu, dengan sempurna 
         menangkap sensasi romansa muda dan harapan akan fajar baru.</em></p>
      <p></p>
    </div>
  </div>
  
  <div class="col-lg-6">
  <h3 class="resume-title">Arrietty ( 2010 )</h3>
  <img src="{% static 'assets/img/film/Arrietty.jpg' %}" class="img-fluid" alt="">
   <div class="resume-item">
     <h4></h4>
     <p><em>Dalam petualangan aneh ini, Arrietty yang berusia 14 tahun tinggal di bawah papan lantai sebuah rumah besar 
      yang terletak di taman ajaib yang ditumbuhi oleh ayah dan ibunya. Arrietty dan keluarganya hidup dengan meminjam. 
      Semua yang mereka miliki, mereka pinjam atau buat dari barang-barang yang mereka pinjam dari wanita tua yang tinggal
       di mansion. Kehidupan damai mereka berubah secara dramatis ketika Arrietty yang selalu ingin tahu secara tidak sengaja 
       membiarkan dirinya dilihat oleh Sho, seorang anak manusia berusia 12 tahun yang kesepian. Keduanya mulai saling curhat
        dan, tak lama kemudian, persahabatan mulai berkembang </em></p>
     <p></p>
   </div>
  </div>
      </div>
    </div>
  </section><!-- End Resume Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Gallery</h2>
        <p>Ghibli Movie Photo Collection</p>
      </div>
      <div class="row"></div>
      <div class="row portfolio-container">

        <div class="col-lg-2 col-md-50 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Spirited Away.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Spirited Away.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-20 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Castle in the Sky.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Castle in the Sky.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/EARWIG AND THE WITCH.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/EARWIG AND THE WITCH.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/FROM UP ON POPPY HILL.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/FROM UP ON POPPY HILL.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/My Neighbors the Yamadas.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/My Neighbors the Yamadas.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/GRAVE OF FIREFLIES.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/GRAVE OF FIREFLIES.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Ocean Waves.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Ocean Waves.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ONLY YESTERDAY.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ONLY YESTERDAY.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/PONYO ON THE CLIFF.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/PONYO ON THE CLIFF.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Porco Rosso.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/Porco Rosso.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Princess Mononoke.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Princess Mononoke.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/MY NEIGHBOR TOTORO.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/MY NEIGHBOR TOTORO.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/SERVICE.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/SERVICE.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Tales from Earthsea.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Tales from Earthsea.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/The Cat Returns.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/The Cat Returns.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/THE TALE OF THE PRINCESS KAGUYA.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/THE TALE OF THE PRINCESS KAGUYA.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-4 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/The Wind Rises.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/The Wind Rises.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/Arrietty.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Arrietty.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/When Marnie Was There.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/When Marnie Was There.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ghibli.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ghibli.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ghibli2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ghibli2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ghibli3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ghibli3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ghibli4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ghibli4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row portfolio-container">
        <div class="col-lg-2 col-md-50 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ghibli5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/ghibli5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Medan, No.394</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>Mypwebsite@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>089659253815</p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">Myp_Website</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>